.env
*.db
__pycache__/
*.pyc
.idea/
.vscode/
node_modules/
gifts.db
*.png
!frontend/assets/*.png
account.json
user_accounts.json
userbot/*.json
*.json
!frontend/assets/*.json
!animations/*.json
frontend/assets/user_photos/
